#
# @file
# Readline configuration.
#

set colored-stats On
set completion-ignore-case On
set completion-map-case On
set skip-completed-text On

# Mac OS/X override.
# Not sure if the following line is necessary.
set horizontal-scroll-mode Off

# Experimental.
#set show-all-if-ambiguous On
#set show-all-if-unmodified On
#set bind-tty-special-chars On
#set editing-mode vi
#set print-completions-horizontally On
